<!DOCTYPE HTML>
<html>
    <head>
        <title>About us!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        
       <style>
            body {
                font-family: sans-serif;
            }
            .box {
                background-color: #EEEEEE;
                width: 560px;
                height: 500px;
                padding: 8px;
                border: 1px solid black;
                border-radius: 10px;
                margin-left: 0px;
                margin-top: 0px;
                margin-bottom: 10px;
                vertical-align: center;
                text-align: left;
            } 
        </style>

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
					<center><h1>About Us</h1></center>
					<div style="padding-top: 10px;">
			            <div class="progress">
                            <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			    <div align="center">
                    <div class="box">
                        <b><h4></h4>What is Booking Block?</h4></b><br></br>
                        
                       Booking Block is a single centralised system will allow businesses and clients to manage bookings, schedules, customer data and online payments. Thus allowing businesses to increase sales, efficiency and allowing their clients to make hassle-free appointments.  
                        <br></br>
                        Are you a small business looking for a simple and easy solution to help manage customer bookings within your business? Then look no further for we at Booking Block will deliver the tools you need to succeed.
                        
                        <br></br>Booking Block is a service designed to allow business owners to setup and create their own easy to manage booking system using our website. Offering vast flexibility, we aspire to provide a service that is both intuitive and user friendly for both the customer as well as the business user.
                       
                        <Br></br> As a business, for your customers, booking is simple.  An existing customer can have a repeat appointment which will have their most recent appointment details listed.  If they want something different they will select the services needed and proceed to payment.  

<Br></br>For you, the business, the process is equally as easy.  Simply accept the customer’s appointment and go from there! 

                        
                        
                        
                        <br>
                        
                        
                        
                    </div>
                </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			        <div style="padding-top: 10px;">
			            <div class="progress">
                            <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
