<!-- From http://fullcalendar.io/ -->

<!DOCTYPE HTML>
<html>
    <head>
        <link rel='stylesheet' href='../resources/css/fullcalendar/fullcalendar.css' />
        <script src='/app/resources/js/fullcalendar/jquery.min.js'></script>
        <script src='/app/resources/js/fullcalendar/moment.min.js'></script>
        <script src='/app/resources/js/fullcalendar/fullcalendar.js'></script>
        
        <!-- Calendar -->
        <script>
           /*global $*/ $(document).ready(function() {
                // page is now ready, initialize the calendar...
                $('#calendar').fullCalendar({
                    // put your options and callbacks here
                })
            });
        </script>
    </head>
    
    <body>
        
        <h2>Bookings Calendar</h2>
        
        <div id='calendar'></div>
        
    </body>
</html>