<!DOCTYPE html>
<html>
	<head>
		

	</head>
	<body>
		
		<div>
		
		</div>

		<!-- Google Map -->
			<ui-gmap-google-map  center='map.center' zoom='map.zoom'>
<ui-gmap-markers models="marker" coords="'self'" icon="'icon'" idKey="'idKey'"></ui-gmap-markers>
			</ui-gmap-google-map>
		
		<!-- Search box -->
		<div class="container">
		    <div class="jumbotron" id="div_5783_0">
			    <div class="row" id="div_5783_1">
			        <div id="div_5783_2"><h3>Search for: </h3></div>
			        <div id="div_5783_3"><h3>Location: </h3></div>
			    </div>
			    <div class="row" id="div_5783_4">
			        <div class="col-xs-offset-4" id="div_5783_5">
			            <input type="text" ng-model="businessType" typeahead="state for state in businessTypeComplete($viewValue)" placeholder="Plumbers, hairdressers, etc.">
			        </div>
			        <div class="col-xs-offset-4" id="div_5783_6">
			            <input type="text" ng-model="postcode" typeahead="state for state in postcodeAutoComplete($viewValue)" placeholder="TS1">
			        </div>
			    </div>
			    <br>
			    <br>
			    <div class="row">
			        <button ng-click="performSearch()" id="button_5783_0">Search!</button>
			    </div>
			</div>
		</div>
		
		
		
		
		
		 <!-- Contains search results -->
		 <div class="container-fluid" id="div_5783_7">
			<!-- Result containers x3 -->
			<div ng-repeat="x in results" class="container" id="div_5783_8">
				
			<div class="panel panel-default">
				<div style="cursor:pointer;" class="panel-heading"><h1 ng-click="viewBusiness(x.BusinessId)"><a>{{x["Name"]}}</a></button></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-10">
										 	<div class="container" id="div_5783_9">
			 			<h3>Address: {{x["Address"]}}</h3>
			 		</div>
						</div>
						<div class="col-md-2">
							 	<img src="https://bookingblock.azurewebsites.net/api/businesses/logo-download?id={{x['BusinessId']}}" class="img-responsive" >
						</div>
					</div> 

				</div>
				
				 <div class="panel-footer">
				 	<h4>{{x["Distance"]}} meters</h4>
					<h4><a href='{{x["Website"]}}'>Website</a></h4>
				 </div>
			</div>
				

			<div>
			</div>
			</div>
			
			

		</div>


		<!-- Contains option buttons -->
		<div class="row" id="div_5783_11">
		    <div class="col-xs-offset-4" id="div_5783_12">
		    	<!-- More results button -->
		        <button ng-click="" id="button_5783_2">More Results</button>
		    </div>
		</div>
		<div class="row" id="div_5783_13">
		    <div class="col-xs-offset-4" id="div_5783_14">
		        <!-- Advanced search button -->
		        <button ng-click="advSearchNav()" id="button_5783_3">Advanced Search</button>
		    </div>
		</div>
	</body>
</html>
