
<!DOCTYPE HTML>
<html>
    <head>
        
These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full.   If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website. 
<br></br>
You must be at least 18 years of age to use this website.  By using this website and by agreeing to these terms and conditions you warrant and represent that you are at least [18] years of age.]
<br></br>
This website uses cookies.  By using this website and agreeing to these terms and conditions, you consent to our BookingBlock's use of cookies in accordance with the terms of [Booking Block]'s [privacy policy / cookies policy].]
<br></br>
License to use website
<br></br>
Unless otherwise stated, BookingBlock and/or its licensors own the intellectual property rights in the website and material on the website.  Subject to the license below, all these intellectual property rights are reserved.
<br></br>
You may view, download for caching purposes only, and print pages or OTHER CONTENT from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.  
<br></br>
You must not:
<br></br>
&#9830; republish material from this website (including republication on another website);<br>
&#9830; sell, rent or sub-license material from the website;<br>
&#9830; show any material from the website in public;<br>
&#9830; reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;]<br>
&#9830; [edit or otherwise modify any material on the website; or]<br>
&#9830; [redistribute material from this website [except for content specifically and expressly made available for redistribution].]<br>
<br></br>
Where content is specifically made available for redistribution, it may only be redistributed [within your organisation].]
<br></br>
Acceptable use
<br></br>
You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
<br></br>
You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.
<br></br>
You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without [Booking Block'S] express written consent.
<br></br>
You must not use this website to transmit or send unsolicited commercial communications.
<br></br>[You must not use this website for any purposes related to marketing without Booking Block'S express written consent. 
<br></br>
Restricted access
<br></br>
Access to certain areas of this website is restricted.  Booking Block reserves the right to restrict access to other areas of this website, or indeed this entire website, at [Booking Block'S] discretion.
<br></br>
If Booking Block provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.  
<br></br>
Booking Block may disable your user ID and password in Booking Block'S sole discretion without notice or explanation.
<br></br>
User content
<br></br>
In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.
<br></br>
You grant to Booking Block a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media.  You also grant to [Booking Block] the right to sub-license these rights, and the right to bring an action for infringement of these rights.
<br></br>
Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or [Booking Block] or a third party (in each case under any applicable law).  
<br></br>
You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.
<br></br>
Booking Block reserves the right to edit or remove any material submitted to this website, or stored on Booking Block's servers, or hosted or published upon this website.
<br></br>
Notwithstanding Booking Block'S rights under these terms and conditions in relation to user content, Booking Block does not undertake to monitor the submission of such content to, or the publication of such content on, this website.]
<br></br>
No warranties
<br></br>
This website is provided “as is” without any representations or warranties, express or implied.  Booking Block makes no representations or warranties in relation to this website or the information and materials provided on this website.  
<br></br>
Without prejudice to the generality of the foregoing paragraph, [Booking Block] does not warrant that:
<br></br>
&#9830; this website will be constantly available, or available at all; or<br>
&#9830; the information on this website is complete, true, accurate or non-misleading.
<br></br>
Nothing on this website constitutes, or is meant to constitute, advice of any kind.  [If you require advice in relation to any [legal, financial or medical] matter you should consult an appropriate professional.]
<br></br>
Limitations of liability
<br></br>
Booking Block will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:
<br></br>
&#9830; to the extent that the website is provided free-of-charge, for any direct loss;<br>
&#9830; for any indirect, special or consequential loss; or<br>
&#9830; for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.
<br></br>
These limitations of liability apply even if Booking Block has been expressly advised of the potential loss.
<br></br>
Exceptions
<br></br>
Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit [Booking Block'S] liability in respect of any:
<br></br>
&#9830; death or personal injury caused by Booking Block'S negligence;<br>
&#9830; fraud or fraudulent misrepresentation on the part of Booking Block; or<br>
&#9830; matter which it would be illegal or unlawful for Booking Block to exclude or limit, or to attempt or purport to exclude or limit, its liability. 
<br></br>
Reasonableness
<br></br>
By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.  
<br></br>
If you do not think they are reasonable, you must not use this website.
<br></br>
Other parties
<br></br>
You accept that, as a limited liability entity, Booking Block has an interest in limiting the personal liability of its officers and employees.  You agree that you will not bring any claim personally against [Booking Block'S] officers or employees in respect of any losses you suffer in connection with the website.]
<br></br>[Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect [Booking Block'S] officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as [Booking Block]. 
<br></br>
Unenforceable provisions
<br></br>
If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.
<br></br>
Indemnity
<br></br>
You hereby indemnify Booking Block and undertake to keep Booking Block indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by [Booking Block] to a third party in settlement of a claim or dispute on the advice of [Booking Block'S] legal advisers) incurred or suffered by [Booking Block] arising out of any breach by you of any provision of these terms and conditions[, or arising out of any claim that you have breached any provision of these terms and conditions].
<br></br>
Breaches of these terms and conditions
<br></br>
Without prejudice to Booking Block'S other rights under these terms and conditions, if you breach these terms and conditions in any way, Booking Block may take such action as [Booking Block] deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.
<br></br>
Variation
<br></br>
Booking Block may revise these terms and conditions from time-to-time.  Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website.  Please check this page regularly to ensure you are familiar with the current version.
<br></br>
Assignment
<br></br>
Booking Block may transfer, sub-contract or otherwise deal with Booking Block'S rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.
<br></br>
You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.  
<br></br>
Severability
<br></br>
If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.  If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect. 
<br></br>
Entire agreement
<br></br>
These terms and conditions , together with DOCUMENTS, constitute the entire agreement between you and Booking Blocks in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.
<br></br>
Law and jurisdiction
<br></br>
These terms and conditions will be governed by and construed in accordance with [GOVERNING LAW], and any disputes relating to these terms and conditions will be subject to the [non-]exclusive jurisdiction of the courts of [JURISDICTION].
<br></br>
Registrations and authorisations
<br></br>
Booking Block is registered with TRADE REGISTER.  You can find the online version of the register at URL.  Booking Block'S registration number is NUMBER.
<br></br>
Booking Block is subject to AUTHORISATION SCHEME, which is supervised by SUPERVISORY AUTHORITY.
<br></br>
Booking Block is registered with PROFESSIONAL BODY.  Booking Block'S professional title is TITLE and it has been granted in the United Kingdom.  Booking Block is subject to the [RULES] which can be found at [URL].]
<br></br>
Booking Blocks subscribes to the following codes of conduct: CODE(S) OF CONDUCT.  These codes/this code can be consulted electronically at URL(S).
<br></br>
Booking Block'S TAX number is NUMBER.
<br></br>
Booking Block'S details
<br></br>
The full BookingBlock of Booking Block is FULL Booking Block.  
<br></br>
Booking Blocks is registered in JURISDICTION under registration number NUMBER.  
<br></br>
Booking Block'S registered address is ADDRESS.  
<br></br>
You can contact Booking Block by email to EMAIL.
<br></br>
You must retain the "Credit" section in this document. If you wish to use the document without the "Credit" section (e.g. to project a more professional image) then you can get a license to do so here:
<br></br>
http://www.contractology.com/precedents/freenetlaw-license-website-terms-and-conditions.html
<br></br>
It is an infringement of our copyright to use the document without the "Credit" section and without paying the license fee.


</html>